.App {
  font-family: sans-serif;
  text-align: center;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  font-family: Arial, sans-serif;
}
h1 {
  padding: 10px;
  background: #e2dbbe;
}

/*---------------------------*/
/* Read Users */
/*---------------------------*/
#user-list {
  margin: 0;
  padding: 0;
  width: 180px;
  float: left;
  margin: 10px;
  border: 1px solid #4cb4e7;
}

#user-list h2 {
  padding: 10px;
  margin: 0;
  color: #a3a380;
}

#user-list li {
  padding: 5px 10px;
  border-top: 1px solid #4cb4e7;
  cursor: pointer;
  color: #a3a380;
  font-style: italic;
  list-style: none;
}

#user-list li:hover {
  background: #ffee93;
}

#user-detail {
  float: left;
  width: 200px;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  border: 1px solid #4cb4e7;
  color: #a3a380;
}

/* Add User Module */
#add-user-module {
  width: 30px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-top: 10px;
}

#add-user-module #open-add-user-form-btn {
  background: #ffc09f;
  font-size: 1.5em;
  color: white;
  padding-bottom: 5px;
}

#add-user-module form {
  position: absolute;
  padding: 10px;
  width: 150px;
  background-color: #e2dbbe;
  border: 0px solid #999;
  display: none;
}

#add-user-module form input {
  width: 97%;
  margin: 2px 0;
}

#add-user-module form button {
  background: #ffc09f;
  font-size: 1em;
  padding: 0px 10px;
  color: white;
  margin-top: 10px;
}

#add-user-module:hover form {
  display: block;
}

/*Edit*/
#edit-user-module {
  display: none;
  position: absolute;
  background-color: #e2dbbe;
  border: 0px solid #999;
  top: 149px;
  left: 160px;
  padding: 10px;
  width: 200px;
}

#user-list li:hover ~ #edit-user-module {
  display: none;
}

#edit-user-module form button {
  background: #ffc09f;
  font-size: 1em;
  padding: 0px 10px;
  color: white;
  margin-top: 10px;
}
